html
   head
      title Clube Mamãe em Maceió
      link(rel="icon", href="images/logo.png")
      style.
         p { color: #9875ae; font-size: 20px; font-weight: bold; }
   body
      div#logo(style="margin-left: 35%; margin-right: 35%; text-align: center; width: 500px; height: 500px;")
         img(src="images/logo.png", width="200", height="200")
         br
         p Em breve será lançado o Clube Mamãe em Maceió!
         p
          | Siga o nosso instagram &nbsp;
          a(href="https://www.instagram.com/mamaeemmaceio", target="_blank") @mamaeemmaceio
          |  para maiores informações.