html

   head
      title Clube Mamãe em Maceió
      link(rel="icon", href="images/logo.png")
      link(rel="stylesheet", type="text/css", href="css/mamaemcz.min.css")

   body.build-container
      div#center
         img(src="images/logo.png", width="200", height="200")
         br
         p Em breve será lançado o Clube Mamãe em Maceió!
         p
            | Siga o nosso instagram &nbsp;
            a(href="https://www.instagram.com/mamaeemmaceio", target="_blank") @mamaeemmaceio
            |  para maiores informações.