html
  head
    title Clube Mamãe em Maceió
    link(rel="stylesheet", type="text/css", href="css/mamaemcz.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.min.css")

  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#top")
            img(src="images/logo-top.png")

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#club") O clube
            li
              a(href="#history") A História
            li
              a(href="#partners") Parceiros
            li
              a(href="#contact") Associe-se
            li
              a.instagram-link(href="https://www.instagram.com/mamaeemmaceio/", target="_blank")
                i.fa.fa-2x.fa-instagram

    div.slider#top
      div.container
        div.col-lg-6.text-center.pull-right
          a(href="#")
            img(src="images/logo.png")
        div.col-lg-6.margin-bottom-large.pull-left
          h1
            |  Faça parte desse movimento solidário e colaborativo. Ajude o próximo e ganhe descontos nos mais variados serviços.
          a.btn-slider-cta(href="#contact")
            | Quero ser um associado

    section.section.section-o-clube#club
      .container
        .row
          .col-lg-4.text-center.foo
            i.material-icons
              | grade
            h3
              | Membro
            p.margin-bottom-small
              | Seguidor do instagram @mamaeemmaceio, que associa-se ao realizar doações anuais para instituições credenciadas, e assim passa a ter descontos e vantagens com diversos parceiros do clube.

          .col-lg-4.text-center.foo
            i.material-icons
              | favorite_border
            h3
              | Parceiro
            p.margin-bottom-small
              | Empresas que fazem parte da rede colaborativa do clube mammãe em Maceió. Elas disponibilizam vários serviços com vantagens para os membros.

          .col-lg-4.text-center.foo
            i.material-icons
              | account_balance
            h3
              | Beneficiados
            p.margin-bottom-small
              | Instituições que visam ajudar o próximo, e que para isso necessitam de apoio.

    section.section.section-beneficiados#history
      .container
        .row.row-beneficiado
          .col-lg-12
            h3.text-center
              | A história
            hr
        .row.row-beneficiado
          .col-lg-6.pull-right.margin-bottom-medium
            div(style="font-size:18px;text-align:justify;")
              p
                | O instagram @mamaeemmaceio surgiu com a finalidade de ser um espaço para compartilhar histórias, vivências e dicas sobre a maternagem em Maceió. Deu tudo tão certo que foi crescendo, sendo acompanhado por diversas famílias e ganhando parceiros. A partir daí, foi crescendo a vontade de usar esse espaço para fazer cada vez mais o bem, e isso se torna real a partir do Clube Mamãe em Maceió.
              p
                | O Clube Mamãe em Maceió é filantrópico e colaborativo, exclusivamente para seguidores do @mamaeemmaceio. Para participar, é necessário adquirir o cartão de membro oficial, realizando uma doação anual (cesta básica ou pacotão de fraldas descartáveis) que será destina às instituições beneficiadas. Como vantagem dessa associação, além de ajudar ao próximo, tem acesso a rede colaborativa de parceiros do clube, adquirindo descontos nos mais diversos serviços oferecidos.
          .col-lg-6.text-center.pull-left
            img(src="images/historia-1.png", width=500)
            label(style="text-align: center; width: 500px; padding: 10px;") Karllene Farias - Mãe do Samir, Psicóloga e Idealizadora do Mamãe em Maceió

    //section.section.section-beneficiados
      .container
        .row
          .col-lg-12
            h3.text-center
              | Beneficiados
            hr
        .row.row-beneficiado
          .col-lg-6
            a(href="#")
              img(src="images/lar-1.jpg", alt="")
          .col-lg-6
            h4
              | ~ Lar São Domingos
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio fuga repellendus maiores aut at cupiditate error, quos hic, velit possimus dolorum, fugiat suscipit, animi deserunt fugit corporis. Quo at amet debitis possimus consectetur pariatur, ipsam quam praesentium soluta mollitia nihil, quae, cumque vero dolor ullam nulla explicabo! Ut, ea, totam!

        .row.row-beneficiado
          .col-lg-6
            h4
              | ~ Lar dos Idosos
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio fuga repellendus maiores aut at cupiditate error, quos hic, velit possimus dolorum, fugiat suscipit, animi deserunt fugit corporis. Quo at amet debitis possimus consectetur pariatur, ipsam quam praesentium soluta mollitia nihil, quae, cumque vero dolor ullam nulla explicabo! Ut, ea, totam!
          .col-lg-6
            a(href="#")
              img(src="images/lar-1.jpg", alt="")

        //- .row.text-center
        //-   button.btn-carregar-mais
        //-     | Ver mais

    section.section.section-parceiros#partners
      .container
        .row
          .col-lg-12
            h3.text-center
              | Parceiros
            hr

            #owl-demo.owl-carousel.owl-theme
              a.item(href="#", target="_blank")
                img(src="images/parceiros/amarilio.png")
              a.item(href="#", target="_blank")
                img(src="images/parceiros/casa-magica.png")
              a.item(href="#", target="_blank")
                img(src="images/parceiros/gravida-chic.png")
              a.item(href="#", target="_blank")
                img(src="images/parceiros/hora-do-recreio.png")
              a.item(href="#", target="_blank")
                img(src="images/parceiros/ostudio.png")
              a.item(href="#", target="_blank")
                img(src="images/parceiros/tip-top.png")

    section.section.section-associacao#contact
      .container
        .row
          .col-lg-6.col-md-6
            ul
              li
                | Seja um seguidor do instagram &nbsp;
                a(href="https://www.instagram.com/mamaeemmaceio", target="_blank") @mamaeemmaceio
              li
                | Preencha o formulário ao lado com seus dados.
              li
                | Nossa equipe entrará em contato para oficializar sua inscrição.
              li
                | Como membro você irá excercer a solidariedade a partir de doações anuais.
              li
                | Você receberá um carteirinha de membro oficial e poderá adquirir descontos apresentando-a aos nossos parceiros
          .col-lg-6.col-md-6
            form#formAssociacao(name="formAssociacao")
              h1
                | Faça parte do Clube Mamãe em Maceió
              .form-group
                label
                  | Nome*
                input.form-control#fieldName(type="text", name="name", placeholder="Digite seu nome completo")
              .form-group
                label
                  | E-mail*
                input.form-control#fieldEmail(type="email", name="email", placeholder="Ex.: nome@email.com")
              .form-group
                label
                  | Telefone
                input.form-control#fieldPhone(type="text", name="phone", placeholder="(00) 00000-0000")

              button(onclick="return sendContact()").btn-slider-cta
                  | Associar agora

    footer.section.section-rodape
      .container
        .row
          .col-lg-4
            .copyright
              | © 2017 - Clube Mamãe em Maceió

          .col-lg-8.text-right
            a(href="https://www.instagram.com/mamaeemmaceio/", target="_blank")
                i.fa.fa-2x.fa-instagram
                span
                  | @mamaeemmaceio

            a(href="whatsapp://82988581846")
                i.fa.fa-2x.fa-whatsapp
                span
                  | 82 988581846

            a(href="mailto:contato@clubemamaeemmaceio.com?Subject=Contato%20Mamãe%20em%20Maceió")
                i.fa.fa-2x.fa-envelope-o
                span
                  | contato@clubemamaeemmaceio.com

      script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js")
      script(src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js")
      script(src="https://use.fontawesome.com/2536e41b89.js")
      script(src="js/mamaemcz.min.js")